kicad/ESPonics/fp-info-cache
kicad/ESPonics/ESPonics-backups/
kicad/ESPonics/ESPonics-backups/*
kicad/ESPonics/#auto_saved_files#
kicad/ESPonics_module-fans_light/ESPonics_module-fans_light-backups/
kicad/ESPonics_module-pumps/ESPonics_module-pumps-backups/
kicad/ESPonics_module-sensors/ESPonics_module-sensors-backups/
3D-models/iris/
*.html
*.old
*_example
